.blocks{
  &-about{
    margin-bottom: 1rem;

    &__img{
      border-radius: $border-radius;
      margin-bottom: 1rem;
      @include media-breakpoint-only(md){
        margin-right: 1rem;
      }
      @include media-breakpoint-up(xl){
        margin-right: 1rem;
      }
    }
  }

  &-accordion{
    margin-bottom: 1rem;

    &__img{
      border-radius: $border-radius;
      margin-bottom: 1rem;
      @include media-breakpoint-only(md){
        margin-left: 1rem;
      }
      @include media-breakpoint-up(xl){
        margin-left: 1rem;
      }
    }
  }

  &-hero{
    &__section{
      min-height: 20rem;
      padding: 2rem 0;
      display: flex;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &__container{
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &-vacancy{

    &__img{
      border-radius: $border-radius;
      margin-bottom: 1rem;
      @include media-breakpoint-only(md){
        margin-left: 1rem;
      }
      @include media-breakpoint-up(xl){
        margin-left: 1rem;
      }
    }

    &__short{
      color: $primary;
    }

  }

  &-step{
    &__img{
      border-radius: $border-radius;
    }
    &__col{
      margin-bottom: $grid-gutter-width * 0.5;
    }
    &__card{
      border: 0;
      transition: $transition-fade;
      height: 100%;
      background-color: unset;
      &:hover{
        box-shadow: $box-shadow;
        transition: $transition-fade;
      }
      &-number{
        font-size: xxx-large;
        font-weight: bold;
        margin-right: $grid-gutter-width * 0.5;
        color: $primary;
      }
      &-content{
        margin: auto 0;
      }
    }
  }

  &-benefit{
    &__ico{
      border-radius: $border-radius;
      margin-right: $grid-gutter-width * 0.5;
      display: block;
    }
    &__container{
      margin-bottom: $grid-gutter-width * 0.5;
      height: 100%;
    }
    &__content{
      margin: auto 0;
    }
  }

  &-digit{
    &__ico{
      border-radius: $border-radius;
      margin-bottom: $grid-gutter-width * 0.5;
      display: block;
    }
    &__container{
      height: 100%;
      text-align: center;
      padding: 1rem;
    }
    &__top{
      border-bottom: 3px solid $primary;
    }
    &__bottom{
    }
    &__title{
      font-size: x-large;
      margin-bottom: .75rem;
    }
    &__short{
      font-size: xx-large;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
  &-alert{
    &__body{
      p {
        margin-bottom: 0;
      }
    }
  }
}