.blocks{
  &-about{
    margin-bottom: 1rem;

    &__img{
      border-radius: $border-radius;
      margin-bottom: 1rem;
      @include media-breakpoint-only(md){
        margin-right: 1rem;
      }
      @include media-breakpoint-up(xl){
        margin-right: 1rem;
      }
    }

    &__card{

      &-header{

      }

      &-h2{

      }

      &-body{

      }
    }
  }

  &-accordion{
    margin-bottom: 1rem;

    &__img{
      border-radius: $border-radius;
      margin-bottom: 1rem;
      @include media-breakpoint-only(md){
        margin-left: 1rem;
      }
      @include media-breakpoint-up(xl){
        margin-left: 1rem;
      }
    }

    &__collapse{

    }


    &__card{

      &-header{

      }

      &-body{

      }

      &-h2{

      }
    }
  }

  &-vacancy{

    &__img{
      border-radius: $border-radius;
      margin-bottom: 1rem;
      @include media-breakpoint-only(md){
        margin-left: 1rem;
      }
      @include media-breakpoint-up(xl){
        margin-left: 1rem;
      }
    }

    &__card{

      &-header{
        border: 0;
      }

      &-btn{
        padding-left: 0;
        padding-right: 0;
      }

      &-body{

      }

      &-footer{
        background-color: transparent;
        padding-bottom: 0;
      }

      &-h2{

      }
    }

    &__short{
      color: $primary;
    }

  }

  &-step{
    &__img{
      border-radius: $border-radius;
    }
    &__col{
      margin-bottom: $grid-gutter-width * 0.5;
    }
    &__card{
      border: 0;
      transition: $transition-fade;
      height: 100%;
      background-color: unset;
      &:hover{
        box-shadow: $box-shadow;
        transition: $transition-fade;
      }
      &-number{
        font-size: xxx-large;
        font-weight: bold;
        margin-right: $grid-gutter-width * 0.5;
        color: $primary;
      }
      &-content{
        margin: auto 0;
      }
      &-title{

      }
      &-desc{

      }
    }
  }

  &-benefit{
    &__ico{
      border-radius: $border-radius;
      margin-right: $grid-gutter-width * 0.5;
      display: block;
    }
    &__container{
      margin-bottom: $grid-gutter-width * 0.5;
      height: 100%;
    }
    &__content{
      margin: auto 0;
    }
    &__title{

    }
    &__desc{

    }
  }

  &-digit{
    &__ico{
      border-radius: $border-radius;
      margin-bottom: $grid-gutter-width * 0.5;
      display: block;
    }
    &__container{
      height: 100%;
      text-align: center;
      padding: 1rem;
    }
    &__top{
      border-bottom: 3px solid $primary;
    }
    &__bottom{
    }
    &__title{
      font-size: x-large;
      margin-bottom: .75rem;
    }
    &__short{
      font-size: xx-large;
      font-weight: bold;
      margin-top: 1rem;
    }
    &__desc{

    }
  }
}